<!--
 Copyright (c) 2024 Rafael F. Meneses
 
 This software is released under the MIT License.
 https://opensource.org/licenses/MIT
-->
<div class="toast-container top-0 end-0 p-3">
	{% if globals.messages is defined %} {% for message in globals.messages %}
	<div
		class="toast text-bg-{{ message.type.value }} fade show"
		data-bs-delay="3000"
		id="messageToast"
		role="alert"
	>
		<div class="toast-body">
			<div class="d-flex gap-4">
				<div class="d-flex flex-grow-1 align-items-center">
					<span class="fw-semibold">{{ message.title }}</span>
					<button
						type="button"
						class="btn-close btn-close-white btn-close-sm ms-auto"
						data-bs-dismiss="toast"
						aria-label="Close"
					></button>
				</div>
			</div>
		</div>
	</div>
	{% endfor %} {% endif %}
</div>
