<div class="modal fade" tabindex="-1" id="searchModal" aria-hidden="true">
	<header class="navbar visually-hidden"></header>
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header px-3 py-2">
				<div class="input-group input-group-prefix">
					<input
						type="text"
						id="search-input"
						name="search-input"
						class="form-control bg-transparent py-3"
						placeholder="Search content"
					/>
					<label class="input-group-text">
						<svg
							class="me-1"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							role="presentation"
						>
							<path
								d="M16.436 15.085l3.94 4.01a1 1 0 01-1.425 1.402l-3.938-4.006a7.5 7.5 0 111.423-1.406zM10.5 16a5.5 5.5 0 100-11 5.5 5.5 0 000 11z"
								fill="currentColor"
								fill-rule="evenodd"
							></path>
						</svg>
					</label>
				</div>
			</div>
			<div class="modal-body p-3 pt-0"></div>
		</div>
	</div>
</div>
