{% extends 'base.j2' %} {% block content %} {% if playlist is defined %}
<small>
	{{ playlist.id }}
</small>
<h1>Edit playlist</h1>

<div class="d-flex">
	<div>
		<h1>
			<a href="{{ playlist.url }}"> {{ playlist.title }}</a>
		</h1>
		<img src="{{ playlist.thumbnails[0].url }}" alt="thumbnail" />
		<p>Playlist description</p>
		<hr />
		<p>Download quality</p>
		<input type="checkbox" /> track for videos updates (automatically
		downloads new entries)
		<br />
		<button type="submit" class="btn btn-primary">Done</button>
	</div>
	<ul class="ps-40">
		{% for video in playlist.videos %}
		<li>
			<div>
				<h3>{{ video.title }}</h3>
				<img src="{{ video.thumbnails[0].url }}" alt="thumbnail" />

				<p>video info</p>
				<small>{{ video.uploader }}</small>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% else %}
<h1>ERROR: Playlist is not defined.</h1>
{% endif %} {% endblock %}
