{% extends 'base.j2' %} {% block content %} {% if playlist is defined %}
<small>
	{{ playlist.id }}
</small>
<h1>Edit playlist</h1>

<div class="d-flex">
	<div>
		<h1>{{ playlist.title }}</h1>
		<p>Playlist thumbnail</p>
		<p>Playlist description</p>
		<hr />
		<p>Download quality</p>
		<input type="checkbox" /> track for videos updates (automatically
		downloads new entries)
		<br />
		<button type="submit" class="btn btn-primary">Done</button>
	</div>
	<ul class="ps-40">
		<li>
			<div>
				<h3>Video title</h3>
				<p>video info</p>
			</div>
		</li>
		<li>
			<div>
				<h3>Video title</h3>
				<p>video info</p>
			</div>
		</li>
		<li>
			<div>
				<h3>Video title</h3>
				<p>video info</p>
			</div>
		</li>
		<li>
			<div>
				<h3>Video title</h3>
				<p>video info</p>
			</div>
		</li>
		<li>
			<div>
				<h3>Video title</h3>
				<p>video info</p>
			</div>
		</li>
	</ul>
</div>
{% else %}
<h1>ERROR: Playlist is not defined.</h1>
{% endif %} {% endblock %}
