{% extends 'base.j2' %} {% block content %} {% if playlist is defined %}
<form>
	<div class="card grid overflow-auto">
		<div>
			<div class="d-flex flex-column p-3 p-md-4 pb-6 w-100">
				<h2 class="fw-semibold fs-2 mx-auto mb-2">
					{{ playlist.title }}
				</h2>
				<div
					class="d-flex flex-column flex-sm-row w-100 gap-3 justify-content-around"
				>
					<a
						href="{{ playlist.url }}"
						class="min-w-min min-w-sm-fit w-sm-50 d-flex"
					>
						<img
							src="{{ playlist.thumbnails[0].url }}"
							class="img-fluid mx-auto mx-sm-0"
							alt="thumbnail"
							style="object-fit: contain"
						/>
					</a>
					<div class="w-100 w-sm-75 max-w-fit mx-auto mx-sm-0">
						<div class="row mb-4 mx-auto max-w-xs">
							<label
								for="inputEmail3"
								class="col-sm-2 col-form-label px-0"
								style="width: 35%"
								>Target quality</label
							>
							<div class="col-sm-3 pe-0" style="width: 65%">
								<select
					class="form-select"
					name="preferredQuality"
					aria-label="Default select example"
				>
					{% for quality in globals.availableQualities %}
					<option
						value="{{ quality.value }}"
						{% if config.preferredQuality == quality.value %}
						selected
						{% endif %}
						
					>
						{{ quality.value }}
					</option>
					{% endfor %}
				</select>
								<div id="passwordHelpBlock" class="form-text">
									Maximum download quality.
								</div>
							</div>
						</div>
						<div class="row mb-4 mx-auto max-w-xs">
							<label
								for="inputEmail3"
								class="col-sm-2 col-form-label px-0"
								style="width: 35%"
								>Tracking</label
							>
							<div class="col-sm-3 pe-0" style="width: 65%">
								<select
									class="form-select"
									aria-label="Default select example"
								>
									<option selected>Enabled</option>
									<option value="1">Disabled</option>
								</select>
								<div id="passwordHelpBlock" class="form-text">
									Automated download of new entries.
								</div>
							</div>
						</div>
						<div class="d-flex w-100">
							<div class="d-flex mx-auto gap-4">
								<a class="btn btn-outline-secondary" href="{{ globals.base_url }}">
									Cancel
								</a>
								<button type="submit" class="btn btn-primary">
									Accept
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-dark-subtle p-3 p-md-4">
				<button
					class="btn btn-default"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseVideos"
					aria-expanded="false"
					aria-controls="collapseVideos"
				>
					Found: {{ playlist.videos | length }} videos
					<span class="ms-1 my-auto">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="white"
							fill-rule="evenodd"
							width="16"
							height="16"
							viewBox="0 0 320 512"
						>
							<path
								d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
							/>
						</svg>
					</span>
				</button>
				<div class="collapse pt-6" id="collapseVideos">
					<div
						id="collapseVideos"
						class="collapse d-flex gap-3 flex-row overflow-auto flex-wrap justify-content-around"
					>
						{% for video in playlist.videos %}
						<a href="{{ video.url }}" target="_blank">
							<div style="min-width: 160px; width: 160px">
								<div class="card">
									<img
										src="{{ video.thumbnails[0].url }}"
										class="card-img-top img-fluid bg-black"
										alt="thumbnail"
										style="
											object-fit: contain;
											max-height: 88px;
										"
									/>
									<div
										class="card-body p-2 d-inline-block text-truncate w-100"
									>
										<h6 class="text-truncate">
											{{ video.title }}
										</h6>

										<span
											class="mb-0 text-truncate fst-italic"
										>
											{{ video.uploader }}
										</span>
									</div>
								</div>
							</div>
						</a>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% else %}
<h1>ERROR: Playlist is not defined.</h1>
{% endif %} {% endblock %}
