<html data-bs-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ current_page }}</title>
		<link href="{{ globals.base_url }}static/styles.css" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="{{
				globals.base_url
			}}static/fastbootstrap-2.2.0/css/fastbootstrap.min.css"
		/>
		{% if globals.base_url %}
		<base href="{{ globals.base_url }}" />
		{% endif %}
	</head>

	<body>
		{% if globals.demo_mode %} {% include 'sections/demo-badge.j2' %} {%
		endif %} {% include 'header.j2' %} {% block before_content %}{% endblock
		%}

		<div class="container-md py-4">{% block content %}{% endblock %}</div>

		{% include 'sections/message-toast.j2' %} {% block after_content %}{%
		endblock %}
		<script src="{{
				globals.base_url
			}}static/fastbootstrap-2.2.0/js/fastbootstrap.min.js"></script>
		<script src="{{ globals.base_url }}static/javascript.js"></script>
	</body>
</html>
