{% extends 'base.j2' %} {% block before_content %}
<div class="bg-light-subtle d-flex">
	<form
		class="d-flex w-100 mx-auto flex-column my-6 max-w-2xl px-3"
		action="/api/submit-url"
		method="POST"
		enctype="multipart/form-data"
	>
		<h1 class="fw-semibold fs-2 mx-auto mb-6">Track new playlist</h1>
		<div class="d-flex">
			<div class="input-group">
				<div class="input-group-text">http(s)://</div>
				<input
					type="text"
					class="form-control"
					id="submittedUrl"
					placeholder="youtube.com/playlist?list="
					name="submittedUrl"
					required
				/>
				<button type="submit" class="btn btn-warning">
					Submit URL
				</button>
			</div>
		</div>
	</form>
</div>
{% endblock %} {% block content %}

<p>Teste</p>
{% endblock %} {% block after_content %}

<script>
	const submittedUrl = document.getElementById('submittedUrl');

	submittedUrl.addEventListener('input', () => {
		console.log(submittedUrl.value);
		submittedUrl.value = submittedUrl.value.replace(/^(https?:\/\/)?/i, '');
	});
</script>

{% endblock %}
