{% extends 'base.j2' %} {% block before_content %}
<div class="bg-light-subtle d-flex">
	<form
		class="d-flex w-100 mx-auto flex-column my-6 max-w-2xl px-3"
		action="/api/submit-url"
		method="POST"
		enctype="multipart/form-data"
		id="submitUrlForm"
	>
		<h1 class="fw-semibold fs-2 mx-auto mb-6">Track new playlist</h1>
		<div class="d-flex">
			<div class="input-group">
				<div class="input-group-text">http(s)://</div>
				<input
					type="text"
					class="form-control"
					id="submittedUrl"
					placeholder="youtube.com/playlist?list="
					name="submittedUrl"
					required
				/>
				<button
					type="submit"
					class="btn btn-warning"
					id="submitUrlButton"
				>
					Submit URL
				</button>
			</div>
		</div>
	</form>
</div>
{% endblock %} {% block content %}

<p>Teste</p>
{% endblock %} {% block after_content %}

<script>
	const submittedUrl = document.getElementById('submittedUrl');

	submittedUrl.addEventListener('input', () => {
		submittedUrl.value = submittedUrl.value.replace(/^(https?:\/\/)?/i, '');
	});

	const submitUrlButton = document.getElementById('submitUrlButton');
	const submitUrlForm = document.getElementById('submitUrlForm');
	submitUrlForm.addEventListener('submit', () => {
		submitUrlButton.disabled = true;

		submitUrlButton.innerHTML = `
		<div class="spinner-spin">
			<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
				<circle cx="8" cy="8" r="7"></circle>
			</svg>
		</div>
		<span>Loading...</span>
		`;
	});
</script>

{% endblock %}
