{% extends 'base.j2' %} {% block content %}

<form method="POST" enctype="multipart/form-data">
	<div class="row mb-3">
		<label for="downloadsPath" class="col-sm-3 col-form-label"
			>Downloads Path</label
		>
		<div class="col-sm-8">
			<input
				type="text"
				class="form-control"
				id="downloadsPath"
				name="downloadsPath"
				placeholder="/downloads"
				value="{{ config.downloadsPath if config is defined }}"
			/>
			<div id="downloadsPathHelp" class="form-text">
				Path where the contents will be downloaded to.
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<label for="updateFrequency" class="col-sm-3 col-form-label"
			>Update Frequency</label
		>
		<div class="col-sm-8">
			<div class="input-group">
				<input
					id="updateFrequency"
					name="updateFrequency"
					type="number"
					min="0"
					class="form-control"
					placeholder="Check for changes every"
					aria-label="Check for changes every"
					step="any"
					value="{{ config.updateFrequency if config is defined }}"
				/>
				<span class="input-group-text" id="basic-addon2">minutes</span>
			</div>
			<div id="frequencyHelp" class="form-text">
				Lower values may consume extra resources.
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>

<!-- {% if success is defined %} {% if success %} -->

<!-- {% endif %} {% endif %}  -->

{% endblock %}
